.galeria{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 35px;
  padding: 10px;
  gap: 2rem;
  text-align: center;
  font-family: labrada;
  font-weight: bold;
}

.imagen-container img {
  max-width: 100%; 
  height: auto; 
}