.galeria{
  width: 99vw;
 }

.galeria >h2{
  text-align: center;
  margin-top: 40px;
}

.imagen-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 40px;
  }

.imagen-container > img {
  width: 220px;
  height: 220px;
  border: 1px solid red;
  display: flex;
  margin: auto;
  
}





