.nav{
    background-color: rgba(7, 8, 7, 0.785);
    color: white;
    width: 100vw;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container>h1{
    font-size: 1.2rem;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
}

.imgBox img{
    margin: 20px;
    width: 90%;
    height: auto;
}



   
/*
.portada{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: 100%;
    gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
   
}
*/
/*
.portada {
    background: 
      
      linear-gradient(
        rgba(22, 206, 200, 0.446),  
        rgba(4, 228, 41, 0.137)   
      ),
    url(./img/HEADER.jpeg); 
        
    background-size: cover;
    position: relative;
  }
*/

/*
.portada>h1{

    
    color: black;   
    position: relative;
    z-index: 1; 
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    font-size: 1.6rem;
    font-family: gluten;
    font-weight: bold;
}

.portada>p{
    color: black;   
    position: relative;
    z-index: 1; 
    font-size: 1.2rem;
    display: flex;
    width: 70%;
    margin-top: 30px;
    font-weight: bold;
    font-family: gluten;  
}*/

/* <h1>Bienvenido a Don Lechugón</h1>
        <p>
          Producción y comercialización de vegetales hidropónicos Vivos!! Ahorro
          de más de 70% de agua
        </p> */
