@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Labrada:ital,wght@1,600&family=Roboto:wght@100&family=Varela+Round&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
